<main id="project_main">
    <div id="squared_main">
        <div class="coin_field_main">
            <div class="calculator_value">

              <p>Bora Bill</p>
              <div>
                  <input name="bill" type="number" [(ngModel)]="moeda" class="currency_field"/>
                  <img class="dollar_icon" src="../assets/images/icon-dollar.svg" alt="">
              </div>

              <div class="type_percentage">
                  <p>Select Tip %</p>

                  <div class="percentage_main">
                      <button type="button" (click)="teste($event)" value="5" class="percentage_value">5%</button>
                      <button type="button" (click)="teste($event)" value="10" class="percentage_value value_perctg">10%</button>
                      <button type="button" (click)="teste($event)" value="15" class="percentage_value value_perctg">15%</button>
                  </div>

                  <div class="percentage_main">
                        <button type="button" (click)="teste($event)" value="25" class="percentage_value">25%</button>
                        <button type="button" (click)="teste($event)" value="50" class="percentage_value value_perctg">50%</button>

                        <img class="percentage_person" src="../assets/images/icon-person.svg" alt="">
                        <input name="percentage" (click)="teste($event)" ([(ngModel)])="valueCustom"  class="percentage_type value_perctg" type="number" placeholder="Custom"/>
                  </div>

                  <p class="title_content">Number of People</p>

                  <input name="qtdPessoas" [(ngModel)]="qntPessoas" class="amount_people" type="text"/>
                  <p class="message_erro">{{mensagemError}}</p>

              </div>
            </div>

            
          <div class="amount_container">
              
              <div class="amount_content">
                  <div class ="type_value_amount">
                      <div>
                          <p class="paragraph_content">Tip Amount</p>
                          <p class="paragraph_person">/ person</p>
                      </div>

                      <div>
                          <h1 class="price_value">${{gorjetaPorPessoa}}</h1>
                      </div>
                  </div>

                  <div class="type_value_amount type_total">
                      <div>
                          <p class="paragraph_content">Total</p>
                          <p class="paragraph_person">/ person</p>
                      </div>

                      <div>
                          <h1 class="price_value">${{total}}</h1>
                      </div>
                  </div>
              </div>

              <div class="button_content">
                  <button (click)="btnReset()" class="button_value">Reset</button>
              </div>
          </div>

      </div>
  </div>
</main>






<!-- <div class="nome">
  <div>

    <input [(ngModel)]="nome" required/>
    <input [(ngModel)]="email" required/>
    <input [(ngModel)]="senha" required type="password"/>

    <button (click)="register()">Cadastrar</button>
  
   <div>
      <ul>

        <ul class="teste" *ngFor="let person of people;">
          <li>{{person.nome}}</li>
          <li>{{person.email}}</li>
          <li>{{person.senha}}</li>
        </ul>

        <li  class="teste" *ngFor="let person of people;">{{person.nome}}</li>
        <li  class="teste" *ngFor="let person of people;">{{person.email}}</li>
        <li  class="teste" *ngFor="let person of people;">{{person.senha}}</li>

      </ul>
    </div>

  </div>
</div> -->

